@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002733;
  
}
/* form section starts */
.container {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  margin: 0 15px;
  max-width: 600px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
background: transparent;
}

.container header {
  position: relative;
  font-size: 21px;
  font-weight: 500;
  color: white;
}

.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 61px;
  border-radius: 8px;
  background-color: #0fd0be;
}

form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
}

.container form .student {
  margin-top: 10px;
}

.container form .title {
  font-size: 16px;
  font-weight: 300;
  margin: 6px 0;
  color: #e4eceb;
  
}
/* input for Name Course Email   */
.input-group {
  position: relative;
  margin: 13px;
  display: flex;
}
.input {
    padding: 10px;
    background: transparent;
    border-radius: 2px;
    outline: none;
    color: white;
    border: 1px solid #085573;
      border-bottom-width: 1px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 5px black;
  }

input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

input[type=text],
input[type=email], 
input[type=course] {
  width: 60%
}
/* Gender */
form .gender-details .gender-title{
  font-size: 18px;
  font-weight: 300;
  color: white;
}
form .gender-details .category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
  color: #c2dfdf;
}
.category1{
  margin: 6px;
  margin-top: 0;
  display: flex;
  gap: 10px;
}
.gender-details .category label{
  display: flex;
  align-items: center;
}

.gender-details .category .dot{
  height: 27px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
  border-color: #d9d9d9;
  background: #516291;
}
/* skills */
.Skill-category{
  display: flex;
  margin-left: 15%;
}
.Skill-category1{
  margin: 6px;
  margin-top: 0;
  display: flex;
  gap: 10px;
}

form .Skill-details .Skill-title{
  font-size: 18px;
  font-weight: 300;
  color: white;
}
form .Skill-details .Skill-category{
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
  color: #c2dfdf;

}
.Skill-details .Skill-category label{
  display: flex;
  align-items: center;
}

.Skill-details .Skill-category .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
}
#dot-11:checked ~ .Skill-category label .one-one,
#dot-12:checked ~ .Skill-category label .two-two,
#dot-13:checked ~ .Skill-category label .three-three{
  border-color: #d9d9d9;
  background: #334984;
}
/* Enrolled button css */
.container form .submitBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 166px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #0c4f77 ;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
  }
  
  form .submitBtn:hover {
    background-color: #0db8a7;
    box-shadow: 1px 2px 7px black;
    color: black;
  }

/*  form section ends */

/* output as css */
.output {
  position: absolute;
  left: 850px;
  top: 12px;
 justify-content: center;
 text-align: left;
 display: flex;
 flex-direction: column;
}


/* output heading */
.output h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color:white;
  margin: 10px;
  height:75px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.output h2::before{
  content: "";
  position: absolute;
  left: 10;
  bottom: 22px;
  height: 3px;
  width: 58px;
  border-radius: 8px;
  background-color:  #0fd0be;
}

/* output data dispaly css */
.d {
  margin-bottom: 22px;
  height: 140;
  box-shadow: 0 0 15px black;
  background-color: transparent;
  border-radius: 5px;
  font-size: small;
  color: #dfd1d1;
}
.div1 {
    display: flex;
    font-weight: normal;
    flex-direction: column;
    padding-left: 10px;
  }
  .div1 div {
    padding: 3px;
  }
  /* output  section css ends  */
